<ion-view view-title="History">
  <ion-content>
    <ul class="list">
        <li class="item">#blockchain 1</li>
        <li class="item">#blockchain 2</li>
        <li class="item">#blockchain 3</li>
        <li class="item">#blockchain 4</li>
        <li class="item">#blockchain 5</li>
        <li class="item">#blockchain 6</li>
        <li class="item">#blockchain 7</li>
        <li class="item">#blockchain 8</li>
        <li class="item">#blockchain 9</li>
    </ul>
  </ion-content>
</ion-view>
