
<ion-header-bar align-title="left" class="bar-stable mynavbar">
  <h1 class="title">
   <img class="title-image img-rounded" src="{{profile.picture}}" width="80" height="80" />
   </h1>
   <div class="buttons">
    <button class="button">{{profile.cust_name}}</button>
  </div>
</ion-header-bar>



<ion-view view-title="Home">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="vcenter">

    <div class="row">
      <div class="col col-100">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <div class="innerdiv center">
          <div class="inner-wrapper">
            <div ani-mojs id="animojs_1" class="animojs">
              <span>{{profile.balance}}</span>
            </div>
        </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
